---
import ctaImgSrc from '../../assets/home-page-cta.jpg'
---

<section class="py-20 relative">
  <!-- Arrière-plan -->
  <div class="absolute inset-0 z-0 ">
    <img 
      src={ctaImgSrc.src}
      alt="Vue panoramique de Marrakech" 
      class="w-full h-full object-cover"
    />
    <div class="absolute inset-0 bg-black opacity-40 "></div>
  </div>
  
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 relative z-10">
    <div class="max-w-3xl mx-auto text-center text-white">
     <h2 class="text-3xl md:text-4xl lg:text-5xl font-serif mb-6 fade-in-up">
  Vivez l’authenticité de Marrakech dans un Riad d’exception
</h2>
<p class="text-lg md:text-xl mb-8 fade-in-up">
  Séjournez dans un cadre raffiné, alliant charme traditionnel, confort moderne et hospitalité marocaine. Réservez dès maintenant votre escapade inoubliable au cœur de la Médina.
</p>
<div class="flex flex-col sm:flex-row justify-center items-center gap-4 fade-in-up">
  <a href="/reservation" class="btn bg-ocre-400 hover:bg-ocre-500 text-white min-w-40">
    Réserver votre séjour
  </a>
  <a href="/contact" class="btn bg-white hover:bg-gray-100 text-gray-800 min-w-40">
    Parler avec notre équipe
  </a>
</div>
    </div>
  </div>
</section>